{% extends 'projects/nav.html' %}
{% block content %}
    <main>
      <div>
        <h1></h1>
        <form method="post">
          {%csrf_token%} {{form.as_p}}
          <button>Signup</button>
        </form>
      </div>
    </main>
  {% endblock %}
