{% extends 'projects/nav.html' %} {% block content %}
<main>
  <div>
    <h1>Create a new project</h1>
    <form method="POST">
      {% csrf_token %} {{form.as_p}}
      <button>Submit</button>
    </form>
  </div>
</main>
{% endblock %}

