{% extends 'projects/nav.html' %}
{% block content %}
    <main>
      <div>
        <h1>{{ project_2.name }}</h1>
        <p>{{ project_2.description }}</p>
        <h2>Tasks</h2>
        <p><a href={% url "create_task" %}>Create a new task</a></p>
        {% if project_2.tasks.all|length > 0 %}
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Assignee</th>
              <th>Start date</th>
              <th>Due date</th>
              <th>Is completed</th>
            </tr>
          </thead>
          <tbody>
            {% for task in project_2.tasks.all %}
            <tr>
              <td>{{ task.name }}</td>
              <td>{{ task.assignee }}</td>
              <td>{{ task.start_date}}</td>
              <td>{{ task.due_date }}</td>
              <td>{{ task.is_completed|yesno:"Yes,No" }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>This project has no tasks</p>
        {% endif %}
      </div>
    </main>
    {% endblock %}