{% extends 'projects/nav.html' %}
{% block content %}
    <main>
      <div>
        <h1>My Projects</h1>
        <div>
          <p><a href={%url "create_project" %}></p>
        </div>
        {% if projects %}

        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of tasks</th>
            </tr>
          </thead>
          <tbody>
            {% for new_project in projects %}
            <tr>
              <td>
                <a href="{% url 'show_project' new_project.id%}"
                  >{{new_project.name}}
                </a>
              </td>
              <td>{{new_project.tasks.all|length}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {%else%}
        <p>You are not assigned to any projects</p>
        {%endif%}
      </div>
    </main>
    {% endblock %}